<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<meta name="author" content="myself">
<title>My 2048</title>
<style type="text/css">
div.myblock {
  color: green;
}
span {
  padding-right: 5px;
}
</style>
</head>
<body>

<table class="game-container">
{% for row in range(4) %}
  <tr>
  {% for column in range(4) %}
    <td>{{ blocks[row][column] }}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>

<form action='/' method='get'>
  <input type='submit' name='move' value='up' />
  <input type='submit' name='move' value='down' />
  <input type='submit' name='move' value='left' />
  <input type='submit' name='move' value='right' />
</form>
</body>
</html>
